@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500&family=Public+Sans&family=Tektur&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  line-height: 1.6;
  position: relative;
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100%;
  background-color: #111;
}
/* Header Style Here */
header {
    position: fixed;
    right: 30px;
    bottom: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    height: calc(100vh - 200px);
    top: 100px;
    opacity: 1;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
  }
  .navbar-nav {
    flex-direction: column !important;
  }
  .icon-box {
    width: 50px;
    height: 50px;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.3s;
    margin: 20px 0;
    border-radius: 50%;
    background: #2b2a2a;
  }
  .icon-box:hover {
    background-color: #ffb400;
    color: white !important;
  }
  .icon-box:hover i {
    color: white !important;
  }
  .icon-box i {
    color: #ddd;
    font-size: 19px;
    transition: 0.3s;
  }
  .icon-box i {
    position: absolute;
    pointer-events: none;
  }
  header .icon-menu i {
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    text-align: center;
    top: 15px;
  }
  .icon-box a {
    display: block;
    padding: 0;
    width: 50px;
    height: 50px;
  }
  .icon-box h2 {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    color: #fff;
    line-height: 50px;
    font-weight: 500;
    transition: all 0.3s;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 0 25px 0 30px;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
  }
  .icon-box a:hover h2 {
    opacity: 1;
    right: 27px;
    margin: 0;
    text-align: center;
    border-radius: 30px 0 0 30px;
    background-color: #ffb400;
  }
  .active {
    background-color: #ffb400;
    border-radius: 50%;
  }
  .navbar-toggler {
    background-color: #2b2a2a;
    border: 1px solid #ffb400;
  }
  .navbar-toggler-icon {
    color: white !important;
  }
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url("./images/download-removebg-preview.png") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  @media screen and (min-width: 577px) and (max-width: 992px) {
    body {
      width: 100%;
      height: auto;
      padding: 40px 0px;
    }
    header {
      position: relative;
      left: 0px;
      bottom: 0;
      z-index: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      top: 0px;
      opacity: 1;
      transition: opacity 0.3s;
      -webkit-transition: opacity 0.3s;
      width: 100% !important;
    }
    .navbar-nav {
      display: flex !important;
      flex-direction: row !important;
      gap: 90px;
      justify-content: center;
      margin-left: 0px;
    }
    .navbar-collapse {
      flex-basis: 0%;
      flex-grow: 1;
      align-items: center;
    }
    [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
        cursor: pointer;
        position: relative;
        left: 85px !important;
        margin-right: 70px !important;
    }
  }
  
  @media screen and (max-width: 576px) {
    .home-details p {
      width: 100% !important;
    }
    body {
      width: 100%;
      height: auto;
      padding: 40px 0px;
    }
    header {
      position: relative;
      right: 0px;
      bottom: 0;
      z-index: 3;
      display: flex;
      align-items: center;
      height: auto;
      top: 0px;
      opacity: 1;
      transition: opacity 0.3s;
      -webkit-transition: opacity 0.3s;
      width: 100% !important;
    }
    .navbar-nav {
      display: flex !important;
      flex-direction: row !important;
      gap: 30px;
      justify-content: center;
      margin-left: 60px;
    }
    .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 1;
      align-items: center;
    }
  
    .icon-box {
      width: auto;
      height: auto;
      list-style: none;
      position: unset !important;
      display: flex;
      align-items: center;
      transition: 0.3s;
      margin: 0px 0;
      border-radius: 50%;
      background: transparent;
    }
    .icon-box:hover {
      background-color: #ffb400;
      color: white !important;
    }
    .icon-box:hover i {
      color: white !important;
    }
    .icon-box i {
      color: #ddd;
      font-size: 19px;
      transition: 0.3s;
    }
    .icon-box i {
      display: none !important;
    }
    header .icon-menu i {
      left: 0;
      right: 0;
      margin: 0 auto;
      display: none !important;
      text-align: center;
      top: 15px;
    }
    .icon-box a {
      display: block;
      padding: 0;
      width: 50px;
      height: 50px;
    }
    .icon-box h2 {
      z-index: -1;
      position: relative;
      top: 0;
      right: 0;
      opacity: 1 !important;
      color: #fff !important;
      line-height: 50px;
      font-weight: 500;
      transition: all 0.3s;
      border-radius: 0px;
      text-transform: uppercase;
      padding: 0 25px 0 30px;
      height: 50px;
      font-size: 15px;
      font-weight: 500;
    }
    .icon-box a:hover h2 {
      opacity: 1;
      right: 0px !important;
      margin: 0;
      text-align: center;
      border-radius: 0px !important;
      background-color: transparent !important;
    }
    .active {
      background: transparent !important;
    }
    .navbar-nav {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr) !important;
    }
    .home-details h1{
      padding-left: 0px !important;
      text-align: center !important;
      font-size: 40px !important;
    }
    .home-details h1::before{
      display: none;
    }
    .home-details p{
      width: 100% !important;
      text-align: center;
    }
  .s-center{
      text-align: center !important;
  }
  }
  [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
      cursor: pointer;
      position: relative;
      left: 165px;
  }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 black !important;
  }
/* Header Style End */  


/* Page Title Style Here */
.title-section {
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 80px 0;
}
.no-transform {
    transform: none !important;
}
.revealator-delay1 {
    transition-delay: .1s!important;
}
.title-section h1 {
    font-size: 56px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}
.title-section h1 span{
    color: #ffb400;
}
.title-bg {
    font-size: 110px;
    left: 0;
    letter-spacing: 13px;
    line-height: 0.7;
    position: absolute;
    right: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 800;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.07);
}

@media screen and (max-width:676px) {
    .title-bg{
        display: none;
    }
    .title-section{
        text-align: center;
        padding: 10px 0px;
    }
}
/* Page Title Style End */


/* Main Content Style Here */

/* Personal Info Style Here */
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.open-sans-font {
    font-family: 'Open Sans', sans-serif;
}
 .about-list li:not(:last-child) {
    padding-bottom: 20px;
}
 .about-list .title {
    opacity: .8;
    text-transform: capitalize;
}
.about-list .value {
    font-weight: 600;
    padding-left: 5px;
}
@media screen and (max-width:576px) {
    .custom-title{
        text-align: center;
    }
    .btn{
        text-align: center;
        width: 100%;
    }
}
/* button */
.button {
    border: 1px solid #ffb400;
  }
  .button {
    overflow: hidden;
    display: inline-block;
    line-height: 1.4;
    border-radius: 35px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    transition: 250ms all ease-in-out;
    text-transform: uppercase;
    text-decoration: none !important;
    position: relative;
    z-index: 1;
    padding: 16px 70px 16px 35px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    outline: none !important;
  }
  .btn {
    margin-top: 10px;
  }
  .button:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(100%);
    transition: 0.3s ease-out all;
    background-color: #ffb400 !important;
  }
  .button:hover:before {
    transform: translateX(0);
  }
  .button:before,
  .button-icon {
    background-color: #ffb400;
  }
  .button .button-text {
    position: relative;
    z-index: 2;
    color: #fff;
    transition: 0.3s ease-out all;
  }
  .button-icon {
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: 0;
    width: 55px;
    height: 55px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: #ffffff;
    border-radius: 50%;
  }
  /* Button */
/* Personal Info Style End */

/* box style here */
.box-stats.with-margin {
    margin-bottom: 30px;
}
.box-stats {
    padding: 20px 30px 25px 40px;
    border-radius: 5px;
    border: 1px solid #252525;
}
 .box-stats h3 {
    position: relative;
    display: inline-block;
    margin: 0;
    font-size: 50px;
    font-weight: 700;
    color: #ffb400;
}
 .box-stats h3:after {
    content: '+';
    position: absolute;
    right: -24px;
    font-size: 33px;
    font-weight: 500;
    top: 2px;
}
.poppins-font {
    font-family: 'Poppins', sans-serif;
}
 .box-stats p:before {
    content: "";
    position: absolute;
    left: 0;
    top: 13px;
    width: 30px;
    height: 1px;
    background: #777;
}
 .box-stats p {
    padding-left: 45px;
}
/* box style end */

hr.separator {
    border-top: 1px solid #464545;
    margin: 70px auto 55px;
    max-width: 40%;
}

/* Skill Style Start */
.ft-wt-600 {
    font-weight: 600;
}
.custom-title {
    padding-bottom: 22px;
    font-size: 26px;
}
.c100 {
    position: relative;
    font-size: 120px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    float: none !important;
    margin: 0 auto;
    background-color: #252525; 
}
.c100 > span {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    width: 5em;
    line-height: 5em;
    font-size: 0.2em;
    color: #fff;
    display: block;
    text-align: center;
    white-space: nowrap;
}
.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, #111 79%, transparent 80% 100%),
      conic-gradient(#ffb400 85%, #252525 0);   
      transition:0.5s ease-out all; 
  }
  
  .progress-bar::before {
    content: "85%";
  }
  .progress-bar-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, #111 79%, transparent 80% 100%),
      conic-gradient(#ffb400 75%, #252525 0);   
      transition:0.5s ease-out all; 
  }
  .progress-bar-2::before {
    content: "75%";
  }
  .progress-bar-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, #111 79%, transparent 80% 100%),
      conic-gradient(#ffb400 40%, #252525 0);   
      transition:0.5s ease-out all; 
  }
  .progress-bar-3::before {
    content: "40%";
  }
  .progress-bar-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, #111 79%, transparent 80% 100%),
      conic-gradient(#ffb400 20%, #252525 0);    
      transition:0.5s ease-out all;
  }
  .progress-bar-4::before {
    content: "20%";
  }
  .progress-bar-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, #111 79%, transparent 80% 100%),
      conic-gradient(#ffb400 90%, #252525 0);    
      transition:0.5s ease-out all;
  }
  .progress-bar-5::before {
    content: "90%";
  }
  .progress-bar-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, #111 79%, transparent 80% 100%),
      conic-gradient(#ffb400 30%, #252525 0);    
      transition:0.5s ease-out all;
  }
  .progress-bar-6::before {
    content: "30%";
  }
  .progress-bar-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, #111 79%, transparent 80% 100%),
      conic-gradient(#ffb400 45%, #252525 0);    
      transition:0.5s ease-out all;
  }
  .progress-bar-7::before {
    content: "45%";
  }
  .progress-bar-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, #111 79%, transparent 80% 100%),
      conic-gradient(#ffb400 25%, #252525 0);   
      transition:0.5s ease-out all; 
  }
  .progress-bar-8::before {
    content: "25%";
  }
  .skill h5{
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
  }
  .skill-box{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:5px;
  }
/* Skill Style End */


/* Experiance And Education Section Style Here  */
.resume-box ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.resume-box li {
    position: relative;
    padding: 0 20px 0 60px;
    margin: 0 0 50px;
}
 .resume-box .icon {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    line-height: 40px;
    text-align: center;
    z-index: 1;
    border-radius: 50%;
    color: #fff;
    background-color: #ffb400;
}
 .resume-box .time {
    color: #fff;
    font-size: 12px;
    padding: 1px 10px;
    display: inline-block;
    margin-bottom: 12px;
    border-radius: 20px;
    font-weight: 600;
    background-color: #252525;
    opacity: .8;
}
 .resume-box .place {
    opacity: .8;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    padding-left: 26px;
}
 .resume-box .place:before {
    position: absolute;
    content: '';
    width: 10px;
    height: 2px;
    background-color: #fff;
    left: 7px;
    top: 9px;
    opacity: .8;
}
.resume-box li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    bottom: 0;
    border-left: 1px solid #333;
}
/* Experiance And Education Section Style ENd  */


/* Main Content Style End */